extends layout.pug

block content
    form(method="post")
        .form-group
            label email
            input(  type="email" name="email" placeholder="Votre email ici" 
                    class="form-control")
        .form-group
            label Mot de passe
            input(type="password" name="pwd" placeholder="Votre mot de passe ici"
                    class="form-control")
        .form-group
            button(class="btn btn-primary form-control" type="submit") Connexion